
@media screen and (min-width: 300px) {
    .landing {
        background-image: url(/Images/bg-wave-s.svg);
        min-height: 90vh;
        padding-top: 14vh;
    }
    .mp-vertical-padded-container {
        padding: 15px 8vw 5px 8vw;
    }
}

@media screen and (min-width: 768px) {

    .mp-vertical-padded-container {
        padding: 15px 4vw 5px 4vw;
    }

    .landing {
        min-height: 75vh;
        background-image: url(/Images/bg-wave-m.svg);
        padding-top: 16vh;
    }
}

@media screen and (min-width: 1024px) {
    .container-fluid.navbar-container {
        padding: 0 3%;
    }

    .mp-vertical-padded-container {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .landing {
        min-height: 75vh;
        background-image: url(/Images/bg-wave-l.svg);
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 18vh;
    }
}

@media screen and (min-width: 1200px){
    .landing {
        min-height: 75vh;
        background-image: url(/Images/bg-wave-xl.svg);
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 22vh;
    }
}


.landing {
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    width: 200vw;
    max-width: 100%;
}

.landing h1 {
    font-size: 4em;
    font-weight: 500;
}

.video-container{
    padding: 3vh 2vw;
}

.video-container .row:not(:last-of-type) {
    margin-bottom: 1vh;
}

.video-holder{
    padding: 0 15px;
}