@{
    ViewBag.Title = "Elevate Your Opportunities";
}

<div class="container mp-vertical-padded-container">
    <div class="row">
        <div class="col-md-6 vert-center">
            <h1>Create, Edit, Upload, Share!</h1>
            <h4>A simple to use platform built upon the idea of making it easier for content creators to share across platforms.</h4>
        </div>
        <div class="col-md-6 jewel-pod create right">
            <h1></h1>
        </div>
    </div>
</div>

<div class="container-fluid landing">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-ad ico-med"></i>
                <h2>Clean & Simple Ads.</h2>
                <p>We know how annoying long, unrelated ads can be for you and your viewers. Therefor we promise to do everything in our power to keep ads clean, short and consistent.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-gift ico-med"></i>
                <h2>It Can Be Rewarding!</h2>
                <p>Knowing you're publishing great content is a very rewarding experience. Allowing your true #1 fans to participate in a subscription based program gives them easy access to unseen content sooner.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-bell ico-med"></i>
                <h2>Notification Madness?</h2>
                <p>A mass of notifications can be extremely annoying for users. So... We decided to take a minimalist's approach and show simple notifactions that show you when and where, just the essentials.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mp-vertical-padded-container">
    <div class="row">
        <div class="col-md-6 vert-center">
            <h1>Responsivity At It's Best!</h1>
            <h4>Built on a custom SCSS framework using ideas from Boostrap and Foundation to create a user-friendly, mobile-ready platform for all content creators.</h4>
        </div>
        <div class="col-md-6 jewel-pod responsive right">
            <h1></h1>
        </div>
    </div>
</div>
<div class="container-full-width bg-dark pt5 h40">
    <div class="row">
        <div class="col-12">
            <h1 class="color-white text-center">
                Stay Updated!
            </h1>
            <p class="color-white text-center">Sign up with your email below to get informed when there are updates, news and other important information as well as some future promotions. Subscribe now, unsubscribe whenever!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://xyz.us16.list-manage.com/subscribe/post?u=091fe72160bfee34a08119a2c&amp;id=50da13bf7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll" class="row">
                        <div class="container">
                            <ul class="list-inline text-center">
                                <li class="list-unstyled list-inline-item">
                                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                                </li>
                                <li class="list-unstyled list-inline-item">
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_091fe72160bfee34a08119a2c_50da13bf7d" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</div>
<div class="container video-container">
    <h1 class="text-center">Featured Videos!</h1>
    <div class="row">
        <div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                       label="English"
                       srclang="en"
                       src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                       default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div>
        <div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                    label="English"
                    srclang="en"
                    src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                    default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div>
        <div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                       label="English"
                       srclang="en"
                       src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                       default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                    label="English"
                    srclang="en"
                    src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                    default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div>
        <div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                           label="English"
                           srclang="en"
                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                           default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div><div class="col-md-4 video-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls
                       crossorigin
                       playsinline
                       poster="https://res.cloudinary.com/spencer-k-media/image/upload/v1555990718/cover_videopreview.jpg"
                       id="player">
                    <!-- Video files -->
                    <source src="http://res.cloudinary.com/spencer-k-media/video/upload/c_scale,h_576,w_1024/v1551744196/spencerkmedia_covervideo.mp44"
                            type="video/mp4"
                            size="576" />
                    <source src="https://res.cloudinary.com/spencer-k-media/video/upload/v1551744196/spencerkmedia_covervideo.mp4"
                            type="video/mp4"
                            size="720" />

                    <!-- Caption files -->
                    <!--<track kind="captions"
                           label="English"
                           srclang="en"
                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                           default />-->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                </video>
            </div>
        </div>
    </div>
</div>