@{
    ViewBag.Title = "Elevate Your Opportunities";
}

<div class="container mp-vertical-padded-container">
    <div class="row">
        <div class="col-md-6 vert-center">
            <h1>Create, Edit, Upload, Share!</h1>
            <h4>A simple to use platform built upon the idea of making it easier for content creators to share across platforms.</h4>
        </div>
        <div class="col-md-6 jewel-pod create right">
            <h1></h1>
        </div>
    </div>
</div>

<div class="container-fluid landing">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-ad ico-med"></i>
                <h2>Clean & Simple Ads.</h2>
                <p>We know how annoying long, unrelated ads can be for you and your viewers. Therefor we promise to do everything in our power to keep ads clean, short and consistent.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-gift ico-med"></i>
                <h2>It Can Be Rewarding!</h2>
                <p>Knowing you're publishing great content is a very rewarding experience. Allowing your true #1 fans to participate in a subscription based program gives them easy access to unseen content sooner.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-bell ico-med"></i>
                <h2>Notification Madness?</h2>
                <p>A mass of notifications can be extremely annoying for users. So... We decided to take a minimalist's approach and show simple notifactions that show you when and where, just the essentials.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mp-vertical-padded-container">
    <div class="row">
        <div class="col-md-6 vert-center">
            <h1>Responsivity At It's Best!</h1>
            <h4>Built on a custom SCSS framework using ideas from Boostrap and Foundation to create a user-friendly, mobile-ready platform for all content creators.</h4>
        </div>
        <div class="col-md-6 jewel-pod responsive right">
            <h1></h1>
        </div>
    </div>
</div>
