$p15rem: 1.5rem;
$roundcorners: 25px;

@media only screen and (min-width : 1024px) {
    h1, .h1 {
        font-size: 68px;
        font-weight: 800;
    }

    h2, .h2 {
        font-size: 54px;
        font-weight: 700;
    }

    h3 .h3 {
        font-size: 36px;
        font-weight: 600;
    }

    h4 .h4 {
        font-size: 28px !important;
        font-weight: 400;
    }

    .ico-med {
        font-size: 42px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1023px) {
    h1, .h1 {
        font-size: 68px;
        font-weight: 800;
    }

    h2, .h2 {
        font-size: 42px;
        font-weight: 700;
    }

    h3 .h3 {
        font-size: 36px;
        font-weight: 600;
    }

    h4 .h4 {
        font-size: 28px !important;
        font-weight: 400;
    }

    .ico-med {
        font-size: 38px;
    }
}
@media only screen and (min-width : 552px) and (max-width : 767px) {
    h1, .h1 {
        font-size: 50px;
        font-weight: 800;
    }

    h2, .h2 {
        font-size: 38px;
        font-weight: 700;
    }

    h3 .h3 {
        font-size: 30px;
        font-weight: 600;
    }

    h4 .h4 {
        font-size: 24px !important;
        font-weight: 400;
    }

    .ico-med {
        font-size: 34px;
    }
}
@media only screen and (min-width : 300px) and (max-width : 551px) {
    h1, .h1 {
        font-size: 42px;
        font-weight: 800;
    }

    h2, .h2 {
        font-size: 38px;
        font-weight: 700;
    }

    h3 .h3 {
        font-size: 30px;
        font-weight: 600;
    }

    h4 .h4 {
        font-size: 24px !important;
        font-weight: 400;
    }

    .ico-med {
        font-size: 34px;
    }
}