
<li class="nav-item dropdown" data-admin-menu>
    <a class="nav-link user-icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="nav-user-icon" src="~/Images/default-user-icon.png" />
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="~/Index">Back to home</a>
    </div>
</li>