// Essential Colors
$white : #e8f1f2;

$black : #090909;

$gray : #343a40;
/* Start Navbar Colors 
.frontend .navbar .navbar-nav .nav-item > a{
    color: $white;
}

.frontend .navbar .dropdown-menu{
    background: $gray;
}

.frontend .navbar .navbar-nav .dropdown-menu .dropdown-item:hover a {
    color: $black!important;
}

.frontend .navbar .dropdown-menu > a{
    color: $white;
}

.frontend .navbar .dropdown-menu > a:hover {
    color: $black;
}

/* End Navbar Colors */

/* Start General Colors */

/* End General Colors */