// Essential Colors
$white: #e8f1f2;

$fogra : #02111B;

$onyx : #37393A;

$arsenic : #3F4045;

$greyblue : #8D99AE;

$trolley : #7E8287;


/* Start Navbar Colors */

.darkmode.black{
    background: $fogra;
    color: $white;
}

.darkmode.black .dropdown-menu {
    background-color: $onyx;
    color: $white;
}

.darkmode.black .dropdown-menu > a {
    color: $white;
}

.darkmode.black .dropdown-menu > a:hover {
    color: $fogra;
}

.darkmode.black .nav-item.dropdown > a {
    color: $white !important;
}

.darkmode.black .nav-item > a {
    color: $white;
}

.darkmode.black .nav-link{
    color: $white;
}

.darkmode.black .navbar-light .navbar-nav .active > .nav-link {
    color: $white;
}
.darkmode.black .navbar-light .navbar-nav .active > .nav-link:hover {
    color: $arsenic;
}
.darkmode.black .navbar-light .navbar-nav .nav-link:hover {
    color: $arsenic;
}


.darkmode.black .sidebar {
    background: $onyx;
    color: $white;
}

.darkmode.black .sidebar .sidebar-header {
    background: $arsenic;
}

.darkmode.black .sidebar ul p {
    color: $white;
}

.darkmode.black .sidebar ul li a:hover {
    color: $greyblue;
    background: $white;
}

.darkmode.black .sidebar ul li.active > a, a[aria-expanded="true"]:not(.user-icon) {
    color: $white;
    background: $greyblue;
}

.darkmode.black ul ul a {
    background: $arsenic;
}

/* End Navbar Colors */

/* Button Styles */